doctype
html
  head
    title TeamCity Build Monitor
    link(rel="stylesheet" href="/stylesheets/main.css")
    meta(http-equiv="refresh" content="60")
  body
      br
      if failingBuilds.length || investigatingBuilds.length
        each val in failingBuilds
          div.failingBuild
            h1
              |#{val.project} - #{val.name}
          br
        each val in investigatingBuilds
          div.investigatingBuild
            h1
              |#{val.project} - #{val.name}
          br
      else
        div
          img.success(src="/images/image1.JPG")
      br
      p.refreshTime
        |Last refreshed: #{time}
